/* .animals-container{
  margin-top: 2.5em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5em;
}

.animals-container img{
  width: 50%;
  display: flex;
  border-radius: 1.5em;
} */