.footer-term{
  background-color: #2F4858;
}

.footer-term p{
  color: darkgray;
  font-family: "Kalam";
  display: flex;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.footer-term a{
  color: white;
  text-decoration: none;
  font-family: "Kalam";
  display: flex;
  justify-content: center;
}